.crystal-image {
    width: 100px;
    height: 100px;
    margin-left: 80px;
    margin-top: 20px;
  }

  .instructions {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 80px;
    margin-right: 80px;
    font-size: 18px;
  }

  .random-number {
    margin-left: 80px;
    font-size: 50px;
    margin-bottom: 40px;
  }

  .tally {
    float: right;
    margin-right: 100px;
  }

  .score-board {
    margin-top: 40px;
    margin-left: 80px;
  }

  #score {
    margin-left: 80px;
  }