#title {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: lavenderblush;
}

body {
    background-image: url(https://img.freepik.com/free-vector/blue-white-crystal-textured-background_53876-85226.jpg?size=626&ext=jpg);
  }

    .crystal-image {
      width: 100px;
      height: 100px;
      margin-left: 120px;
      margin-top: 40px;
    }

    .instructions {
      margin-top: 40px;
      margin-bottom: 40px;
      margin-left: 80px;
      margin-right: 80px;
      font-size: 18px;
    }

    .tally {
      float: right;
      margin-right: 100px;
      background-color: lavender;
      width: 175px;
      height: 90px;
      text-align: center;
    }

    .score-board {
      margin-left: 80px;
      font-weight: bold;
      background-color: lavender;
      width: 175px;
      height: 83px;
      text-align: center;
    }

    #score {
      background-color:gold;
      width: 175px;
      height: 50px;
      padding-right: 70px;
      padding-left: 70px;
      font-size: 35px;
    }

    #wins {
      background-color:gold;
      width: 175px;
      height: 50px;
      padding-right: 70px;
      padding-left: 70px;
      font-size: 35px;
    }

    #losses {
      background-color:gold;
      width: 175px;
      height: 50px;
      padding-right: 70px;
      padding-left: 70px;
      font-size: 35px;
    }

  .random-number {
    margin-left: 80px;
    background-color: lightblue;
    width: 200px;
    height: 90px;
    text-align: center;
    font-weight: bold;
    padding-top: 10px;
  }

  #number-to-guess {
    font-size: 50px;
    font-weight: bold;
  }